* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box; /* Firefox ≤ 28 */
  box-sizing: border-box; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}



body { 
background: #FFFFFA;} 

p {
	text-align: center;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 2em;
	display: inline-block;
	text-align: center;
	width: 100%;
	float: left;
	width: 50%;
	
}

h2 {
	font-family: 'Lora', serif;
	padding: 1%;

}

p, figcaption{
	text-align: justify;
	padding: 1%;
}

h2 {
	text-align: center;
	border-bottom: 1px solid black;

}

h3{
	text-align: center;
	padding: 0%;
}
nav {
	float: right;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	text-align: center;
	width: 50%;
	position: relative;
}

nav a {
	float: right;
	text-decoration: none;
    color: #000000;
  	margin: 1.8em;
  	display: inline-block;
  	text-align: center;
  	margin-top: 20px;
  	border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 115px;
    height: 15px;
}

nav a:hover
{
	color: #1A1A14;
	background-color: white;
}

#select {
	color: #0052A3;
	border-color: 
}

div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

img {
	width: 100%;
}

footer {
	text-align: center;
	padding: 1em 0;
  	clear: both;
  	border-top: solid 1px black;
  	width: 100%;
  	float: none;
  	text-align: center;
  	font-size: 1.2em;
  	display: inline-block;
	}

#footer {
	width: 70%;
}

#footnav {
	width: 20%;

}

.colum {
	display: inline-block;
	width: 25%;
	float: left;
	margin: 0 auto;
	padding: 0%;
}

#first {
	display: inline-block;
	width: 23%;
	float: left;
	margin: 0 auto;
	padding: 1%;
}

#second {
	display: inline-block;
	width: 23%;
	float: left;
	margin: 0 auto;
	padding: 1%;
}

#third {
	display: inline-block;
	width: 23%;
	float: left;
	margin: 0 auto;
	padding: 1%;
}

#forth {
	display: inline-block;
	width: 23%;
	float: left;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
}

#home {
	width: 42%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}




@media screen and (max-width: 800px) {
	.colum {
		float: none;
		width: 100%;
	}

	nav {
		float: right;
		border: none;
		width: 100%;
	}

	nav a{
		float: left;
		display: inline;
		text-align: center;
		border: none;

	}

	h1{ 
		width: 100%;
		text-align: center;
	}

	#main {
		float: none;
		width: 100%;
	}

	#side {
		float: none;
		width: 100%;
	}

}
