@import url(http://www.markmurray.co/codepen/entypostyle.css);
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: white;
}

.container {
  width: 25em;
  margin: 0 auto 3em auto;
  text-align: center;
  overflow: hidden;
}

.row {
  margin: 0.5em 0;
  clear: both;
}
.row i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.row:first-child {
  background: white;
  padding: 0.5em 0;
  border-radius: 8px;

}
.row:first-child i {
  border-right: 1px solid #white;
  border-left: 1px solid #white;
  padding: 0.5em 1em;
  margin: 0;
  text-shadow: 1px 1px 0 white;
}
.row:first-child i:hover {
  color: #34495e !important;
}

.row {
  background: transparent;
}
.row i {
  color: #34495e;
  border: 2px solid transparent;
  border-radius: 0%;
  padding: 1em;
  position: relative;
  background: transparent;
}
.row i:hover {
  top: -2px;
  border-radius: 50%;
}
.row i:not(:first-child) {
  margin-left: 1em;
}
.row i:nth-child(1) {
  color: #3b5998;
  border-bottom-color: #3b5998;
}
.row i:nth-child(2) {
  color: #00a0d1;
  border-bottom-color: #00a0d1;
}
.row i:nth-child(3) {
  color: #db4a39;
  border-bottom-color: #db4a39;
}
.row i:nth-child(4) {
  color: #c8232c;
  border-bottom-color: #c8232c;
}
.row i:nth-child(5) {
  color: #ea4c89;
  border-bottom-color: #ea4c89;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}

h1 {
  text-align: center;
  font-family: avenir,'Open Sans', sans-serif;
  margin-top: 0%;
}

h2 {
  text-align: center;
  font-family: avenir, 'Open Sans', sans-serif;
}

p
{
  font-family: avenir, 'Open Sans', sans-serif;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;

}

#about {
  margin-top: 25%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  font-family: avenir, 'Open Sans', sans-serif;
  text-align: center;
}

#about > img {
  width: 25%;
}

.bottom {
  margin-bottom: 0%;
}
nav {
	float: right;
	font-family: 'Lora', serif;
	font-size: 1.1em;
	text-align: center;
	width: 50%;
	position: relative;

}
