* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box; /* Firefox ≤ 28 */
  box-sizing: border-box; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}

body { 
background: #F8F8F8 }

h1 {
	font-family: 'Lora', serif;
	font-size: 2em;
	display: block;
	text-align: center;
	width: 100%;

}

p{
	text-align: justify;
}

h2 {
	text-align: center;
	border-bottom: 1px solid black;
}

h3{
	text-align: center;
}
nav {
	float: left;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	text-align: center;
	width: 100%;
}

nav a {
	text-decoration: none;
    color: #000000;
  	margin: 1.8em;
  	display: inline-block;
  	text-align: center;

}

nav a: hover
{ 
}

#select {
	color: #3399FF;
}

div {
	display: block;
	width:100%;
}

#main {
	float: left;
	width: 75%;
	padding: 2.5%;
}

#side {
	float: right;
	width: 25%;
	padding: 2.5%;
	}

#brunch {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

#photo {
	display: inline-block;
	width:60%;
	margin: 0 auto;
	float: right;
}

footer {
	text-align: center;
	padding: 1em 0;
  	clear: both;
  	border-top: solid 1px black;
  	width: 100%;
  	float: none;
	}

	img {
		width: 100%;
	}